/**
 * Copyright 2024 Google LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.spinner-container {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.spinner {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  margin: 12px auto;
  position: relative;
  background: rgba(25, 103, 210);
  box-sizing: border-box;
  animation: expand 0.5s ease-out infinite alternate;
}

@keyframes expand {
  0% {
    box-shadow: 0 0, 0 0;
    color: rgba(25, 103, 210, 0.1);
  }
  100% {
    box-shadow: -24px 0, 24px 0;
    color: rgba(25, 103, 210, 0.4);
  }
}
