/**
 * Copyright 2025 Google LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.ace_editor{
  background: $primary-bg-subtle !important;

  .ace_gutter {
    background-color: #E8F0FE !important;
    .ace_gutter-cell {
      background-color: #E8F0FE;
      color: #9AA0A6;
    }

    .ace_gutter-layer {
      background-color: white;
    }

    .ace_gutter-active-line, .ace_active-line {
      background-color: #E8F0FE !important;
    }
  }


}

