/* REVIEW HELPER  */

#reviewHelperStatus {
  padding: 0.4rem 0 0.8rem 0;
  font-style: italic;
}

#reviewHelperStatus.not-started::before {
  content: 'Review helper is not ready yet';
  color: gray;
}

#reviewHelperStatus.preparing::before {
  content: 'Preparing review helper...';
  color: rgb(140, 0, 255);
}

#reviewHelperStatus.ready::before {
  content: 'Review helper is ready';
  color: rgb(0, 173, 0);
}

#reviewHelperStatus.error::before {
  content: 'Error';
  color: red;
}

#reviewHelperStatus.generating-response::before {
  content: 'Generating response...';
  color: rgb(0, 173, 0);
}

/* MODEL STATUS */

#modelStatusWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0.2rem 0.6rem;
  font-family: monospace;
  text-align: center;
  transition: background-color 0.2s linear;
}

#modelStatusWrapper {
  background-color: rgb(from var(--color) r g b / 25%);
}

#modelStatus {
  color: var(--color);
  padding-right: 0.4rem;
}

#modelStatusWrapper.not-started {
  --color: rgb(79, 78, 78);
}

#modelStatus.not-started::before {
  content: '⚫️ Model not ready';
}

#modelStatusWrapper.preparing {
  --color: rgb(140, 0, 255);
}

#modelStatus.preparing::before {
  content: '🟣 Preparing model... (takes 30+ seconds)';
}

#modelStatusWrapper.ready {
  --color: rgb(0, 173, 0);
}

#modelStatus.ready::before {
  content: '🟢 Model is ready';
}

#modelStatusWrapper.generating-response {
  --color: rgb(0, 173, 0);
}

#modelStatus.generating-response::before {
  content: '🖊️ Generating response...';
}

#modelStatusWrapper.error {
  --color: red;
}

#modelStatus.error::before {
  content: '❌ Error while preparing the model';
}
