/**
 * Copyright 2025 Google LLC
 * SPDX-License-Identifier: Apache-2.0
 */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

div {
  background-color: $light;
  box-shadow: $box-shadow;
  border-radius: 15px;
  position: fixed;
  padding: 4px;

  text-align: center;
  top: 25px;
  left: calc(50% - 100px);
  width: 200px;
}
