/**
 * Copyright 2025 Google LLC
 * SPDX-License-Identifier: Apache-2.0
 */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";


.sidebar {
  background-color: $gray-200;
  height: 100vh;
  margin: 0;
  width: 350px;

  &.sidebar-collapsed {
    width: 75px;
    .title {
      display: none;
    }
    nav {
      ul {
        li {
          text-align: center;

          span {
            display: none;
          }
        }
      }
    }

    header {
      margin-left: 0;
      margin-right: 0 !important;
      flex-direction: column;
    }
  }

  header {
    margin-left: 25px;
    margin-right: .5rem !important;

    flex-direction: row;

    .title {
      font-weight: bold;
      margin: 0;
    }
  }

  nav {
    ul {
      li {

        &.active {
          background-color: $primary-bg-subtle;
        }
        &:hover {
          background-color: $gray-400;

        }

        span {
          margin-left: 0.5rem;
        }

        border-radius: 10px;
        margin-top: 10px;
        padding: 5px;
        transform: rotate(0);
      }
    }
  }

  .btn-sidebar {
    background-color: $gray-200;
    &:hover {
      background-color: $gray-400;
    }
  }
}
