/**
 * Copyright 2024 Google LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.chat-window {
	background-color: #f2f5ff;
    position: fixed;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
	width: 30rem;
    height: 65vh;
	right: 1rem;
    bottom: 5rem;
    border-radius: 8px;
    gap: 8px;
    padding: 1rem;
    color: inherit;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.chat-window h1 {
    margin: 0;
}

.chat-window > div {
	padding: 8px;
}
